.card-list {
    width: 85vw;/* unit of measurement relative to 1% of the width of the viewport, makes it responsive to the browser*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

}